@use "utils" as u;

/*------------------------
Day Card
--------------------------*/
.day__card {
  @include u.flex($direction: column);
  gap: 0.5rem;
  background: u.$color-grey;
  border-radius: 1.6rem;
  width: 10rem;
  padding: 1rem;
  font-size: 1.8rem;

  @include u.respond(tab-port) {
    padding: 1rem;
  }

   @include u.respond(phone-large) {
    width: 9.4rem;
    padding: 0.8rem;
   }

  @include u.respond(phone) {
    @include u.flex($justify: space-around);
    width: 100%;
    padding: 2rem;
  }

  &--climate,
  &--date {
    @include u.flex($direction: column);
    gap: 0.5rem;

    @include u.respond(phone) {
      @include u.flex($justify: space-evenly);
      gap: 2rem;
      display: contents;
    }
  }
}

/*------------------------
Forecast Card
--------------------------*/

.forecast__card {
  background: u.$color-grey;
  padding: 1.2rem;
  border-radius: 2rem;
  @include u.flex($direction: column);
  align-items: flex-start;

  &--name {
    width: 100%;
    font-size: 2rem;
    @include u.flex($justify: space-between);
    align-items: center;
    position: relative;

    & > svg {
      cursor: pointer;
    }

    & span {
      min-width: 14rem;
      font-size: 1.5rem;
      font-size: bolder;
      background: rgba(u.$color-green, 0.4);
      backdrop-filter: blur(5px);
      // color: u.$color-black;
      padding: 0.6rem;
      border-radius: 6px;
      text-wrap: wrap;
      position: absolute;
      top: 30%;
      right: 50%;
      transform: translate(60%, 30%);
      opacity: 0;
    }

    & svg:hover + span {
      opacity: 1;
    }
  }

  &--value {
    font-size: 2rem;
    font-weight: 400;
    align-self:self-end;

    & > span {
      padding: 0 1rem;
      font-size: 3.8rem;
      font-weight: 600;
    }
  }

  &--des {
    font-size: 1.8rem;
    @include u.flex;
    gap: 1rem;
  }
}
